:root {
    --primary: #335D65;
    --light: #fff;
    --dark: #141414;
    --text_dark: #181818;
    --text_light: #fff7f7;
    --silver: #a09f9f
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #f3f3f3;
    color: var(--text_dark);
}

.cs_container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 12px;
}

.cs_row {
    display: flex;
}

.justify_content_center {
    justify-content: center;
}

.justify_content_end {
    justify-content: flex-end;
}

.align_items_center {
    align-items: center;
}

.text_center {
    text-align: center;
}

.cs_date_picker_card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.205);
    border-radius: 12px;
    padding: 8px 15px 15px 15px;
    overflow: hidden;
    margin: 50px auto;
    width: max-content;
    max-width: 100%;
    background-color: var(--light)
}

.rdrDateDisplayWrapper {
    display: none !important;
}

.sec_heading {
    padding: 16px 0;
    font-size: 28px;
}

.age_box {
    width: 470px;
    justify-content: space-between;
    align-items: center;
    padding: 12px 2px;
    border-bottom: .7px solid #2423233b;
}

.age_box:last-child {
    border-bottom: none;
}

.age_box .left_ p,
.age_box .left_ span {
    margin: 0;
    text-align: left;
}

.age_box .left_ span {
    color: #1818187e;
    font-size: 14px;
}

.age_box .right_ {
    display: flex;
}

.input_num,
.cs_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid var(--silver);
    cursor: pointer;
    user-select: none;
    border-radius: 50%;
    margin: 4px 6px;
    font-weight: 500;
    font-size: 16px;
    color: var(--silver);
}

.cs_btn:active,
.cs_btn:hover {
    border-color: var(--dark);
    color: var(--text_dark);
}

.input_num {
    border: none;
    margin: 4px 0;
    width: auto;
    min-width: 34px;
    font-size: 15px;
    height: auto;
    color: var(--text_dark);
}

.cs_btn_main {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);
    cursor: pointer;
    user-select: none;
    margin: 4px 6px;
    padding: 6px 24px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    color: var(--primary);
    text-decoration: none;
}

.cs_btn_main:hover {
    background-color: var(--primary);
    color: var(--light);
}

@media only screen and (max-width:768px) {
    .age_box {
        width: 100%;
    }
    .age_box .left_ {
        text-align: left;
    }
    .sec_heading {
        font-size: 24px;
    }
}